<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Protein Company</title>
  </head>
  <body style="background-color: lightgoldenrodyellow;">
    <header style="text-align: center;">
      <h1>Smart Protein Company</h1>
    </header>

    <main style="text-align: center;">
      <h3>Intorduction of Smart Protein Company</h3>
      <nav>
        <p>
          Smart Protein commit to provide the best protein solution for you!
        </p>
        <p><img src="../images/icon01.png" alt="Smart protein icon" /></p>

        <p><a href="index.html">Smart Protein Website</a></p>
      </nav>
    </main>
    <footer style="text-align: center;">
      <h2>Thank you for visiting!!</h2>
      <p><i>Founder: Yuanfeng Li (Jacky Li)</i></p>
      <p>
        <i>Contact: 206-889-3335</i>
      </p>
      <p>
        <i>Address: Seattle, WA, 98105</i>
      </p>
      <p>
        <i>Date: 2020/06/09 </i>
      </p>
    </footer>
  </body>
</html>
